body {
  background-color: #90ee90;
}

.aramis {
  background-image: url('Sprite Walk S.gif');
  height: 122px;
  width: 88px;
  transform: translate(0, 0);
}
.container {
     background-color: #000000;
     color: #FFF;
     position: center;
     top: 50%;
     left: 50%;
     height: 10px;
	  width: 88px;
     transform: translate( 0%, +20%);
}
.container2 {
     background-color: #000000;
     color: #FFF;
     position: center;
     top: 50%;
     left: 50%;
     height: 88px;
	  width: 10px;
     transform: translate( 0%, -140%);
}
